# Introduction to Mongo

In [1]:
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# confirm that our new database was created
print(mongo.list_database_names())

['PublicSchool2021', 'admin', 'autosaurus', 'classDB', 'config', 'epa', 'fruits_db', 'gardenDB', 'local', 'met', 'petsitly_marketing', 'travel_db', 'uk_food']

In [4]:
# assign the database to a variable name
db = mongo['PublicSchool2021']

In [5]:
# review the collections in our new database
print(db.list_collection_names())

['characteristics']

In [6]:
# review a document in the customer_list collection
print(db.characteristics.find_one())

{'_id': ObjectId('643c5eedf67032a097f54de1'), '': 0, 'Location_ID': 'Alabama', 'School_Name': 'Albertville Middle School', 'Location_Abbreviation': 'AL', 'Location_Zip': 35950, 'Virtual': 'Not Virtual', 'Elementary(PK-G5)': 0.0, 'Middle(G6-G8)': 908.0, 'High(G9-G13)': 0.0, 'Total_Free/Reduced_Lunch': 332.0, 'Total_Students': 908.0, 'Total_Teachers': 42.0, 'Charter': 'No', 'Magnet': 'No', 'Latitude': 34.2602, 'Longitude': -86.2062}

In [7]:
# assign the collection to a variable
characteristics = db['characteristics']

In [8]:
#Not Virtual
# Write a match query 
match_query = {'$match': {'Virtual': 'Not Virtual'}}

# Write an aggregation query that counts the number location IDs within the match query 
group_query = {'$group': {'_id': "$Location_ID", 'count': { '$sum': 1 }}}

# Put the pipeline together
pipeline = [match_query, group_query]

#results 
NotVirtual_results = list(characteristics.aggregate(pipeline))

In [9]:
#Not Virtual
pprint(NotVirtual_results[0:10])

[{'_id': 'North Carolina', 'count': 2171},
 {'_id': 'Wyoming', 'count': 364},
 {'_id': 'Louisiana', 'count': 1344},
 {'_id': 'Mississippi', 'count': 1034},
 {'_id': 'Montana', 'count': 620},
 {'_id': 'Oregon', 'count': 819},
 {'_id': 'U.S. Virgin Islands', 'count': 1},
 {'_id': 'New Jersey', 'count': 2565},
 {'_id': 'Maine', 'count': 593},
 {'_id': 'Minnesota', 'count': 2507}]

In [12]:
# Convert mongo result to Pandas DataFrame
NotVirtual_df = pd.DataFrame(NotVirtual_results)

print("Rows in DataFrame: ", len(NotVirtual_df))
NotVirtual_df.head(10)

Rows in DataFrame:  43

                   _id  count
0       North Carolina   2171
1              Wyoming    364
2            Louisiana   1344
3          Mississippi   1034
4              Montana    620
5               Oregon    819
6  U.S. Virgin Islands      1
7           New Jersey   2565
8                Maine    593
9            Minnesota   2507

In [33]:
#Not Virtual
# Write a match query 
PK_NV_match_query = {'$match': {'Virtual': 'Not Virtual'},
                     'Location_ID': }

# Write an aggregation query that counts the number location IDs within the match query 
PK_NV_group_query = {'$group': {'_id': 'Elementary(PK-G5)', 'sum': { '$sum' : '$characteristics.Elementary(PK-G5)'}}}

# Put the pipeline together
PK_NV_pipeline = [PK_NV_match_query, PK_NV_group_query]

#results 
PK_NotVirtual_results = list(characteristics.aggregate(PK_NV_pipeline))

In [34]:
pprint(PK_NotVirtual_results[0:10])

[{'_id': 'Elementary(PK-G5)', 'sum': 0}]

In [39]:
#Not Virtual
# Write a match query 
match_query = {'$match': {'Virtual': 'Not Virtual'}}


# Write an aggregation query that counts the number location IDs within the match query 
group_query = {'$group': {'_id': "$Location_ID", 'count': { '$sum': 1 },
                {'_id': "Elementary(PK-G5)", 'sum': { '$sum' : '$Elementary(PK-G5)'}}
                         }}

# Put the pipeline together
pipeline = [match_query, group_query]

#PK Results
PK_NotVirtual_results = list(characteristics.aggregate(pipeline))

SyntaxError: invalid syntax (984141647.py, line 11)

In [37]:
pprint(PK_NotVirtual_results[0:10])

[{'_id': 'Elementary(PK-G5)', 'sum': 10812911.0}]